@import "./font.css";

@font-regular: poppins-regular;
@font-bold   : poppins-bold;
@bg-nav      : rgba(0, 0, 0, 0.6);
@gray        : #777777;

.text--bold {
    font-size     : 18px;
    font-weight   : bold;
    text-transform: uppercase;
}

.grid--center {
    display      : grid;
    justify-items: center;
    align-items  : center;
}

@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
    }

    .text--large {
        font-size: 2rem !important;
    }

    .text--medium {
        font-size: 1.4rem !important;
    }

    .feedback__title {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 768px) {
    .product__icon {
        li {
            margin-top: 10px !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        max-width: 594px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 774px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 1014px;
    }

    .text--large {
        font-size: 60px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .gallery {
        .gallery__item:nth-child(odd) {
            padding-right: 0;
        }

        .gallery__item:nth-child(even) {
            padding-left: 0;
        }
    }
}

@media (min-width: 992px) {
    #nav__btn {
        display: none !important;
    }

    .gallery {

        .gallery__item:not(:nth-child(3n)) {
            padding-right: 0;
        }

        .gallery__item:not(:nth-child(3n+1)) {
            padding-left: 0;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1194px;
    }
}

@media (max-width: 991.98px) {

    .nav__link,
    .nav__icon {
        display: none !important;
    }
}

@media (max-width: 1190px) {
    .nav__link {
        .col {
            margin-right: 15px !important;
        }
    }
}


body {
    line-height: 24px;
    font-size  : 14px;
    font-family: @font-regular;
}

header {
    height             : 950px;
    background-image   : url(../images/background.jpg);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;

    nav {
        background-color     : @bg-nav;
        position             : fixed;
        width                : 100%;
        height               : 100px;
        z-index              : 3;
        display              : grid;
        grid-template-columns: 1fr;
        align-items          : center;
        font-size            : 16px;

        .nav__link,
        .nav__logo {
            display    : flex;
            align-items: center;
        }

        .nav__icon {
            text-align     : end;
            display        : flex;
            align-items    : center;
            justify-content: end;

            a {
                color: white;

                &:hover {
                    color: red;
                }
            }

            .fa-shopping-cart {
                border-left : @gray 2px solid;
                border-right: @gray 2px solid;
                padding     : 0 20px;
            }
        }

        #nav__btn {
            display         : grid;
            justify-items   : end;
            background-color: transparent;
        }

        .nav__btn-content {
            background-color: @bg-nav;

            li {
                margin-bottom: 10px;
            }
        }

        .navbar-toggler:focus {
            box-shadow: none;
        }

        .fa-bars {
            color: white;
        }

        ul {
            list-style   : none;
            margin-bottom: 0;

            li {

                a {
                    color          : white;
                    text-decoration: none;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}

.promotion {
    padding-top: 330px;

    .text--large {
        text-transform: capitalize;
        font-family   : @font-bold;
        font-size     : 60px;
    }

    .text--medium {
        font-family: @font-bold;
    }

    .promotion__btn {
        background-color: transparent;
        color           : white;
        border          : white 1px solid;
        text-transform  : uppercase;
        cursor          : pointer;
        padding         : 15px 45px;
    }
}

.gallery {
    margin-top: -80px;

    div:nth-child(odd) {
        img {
            width : 100%;
            height: 100%;
        }
    }

    div:nth-child(even) {
        background-color: white;
        .grid--center();
        height: 265px;

        img {
            align-self: end;
        }

        .gallery__title {
            .text--bold();
            font-family: @font-bold;
        }

        .gallery__content {
            padding   : 0 50px;
            align-self: start;
            text-align: center;
        }
    }

    div:nth-child(6) {
        img {
            align-self: center;
        }

        .gallery__title {
            align-self: start;
        }
    }
}

.product {
    margin-top: 60px;

    .product__tab {

        .tab__title {
            font-family: @font-bold;
            text-align : center;
            .text--bold();
            color: black;
        }

        .nav-link {
            border: none;
        }

        .active {
            color        : red;
            border-bottom: red 2px solid;
        }
    }

    .product__list {
        margin-top: 50px;

        .item {
            padding-bottom: 75px;
            position      : relative;

            &:hover {
                ul.product__icon {
                    display: block;
                }
            }

            img {
                width: 100%;
            }

            ul.product__icon {
                list-style: none;
                position  : absolute;
                right     : 40px;
                top       : 0;
                z-index   : 2;
                display   : none;
                padding   : 0;

                li {
                    border    : 1px #dddddd solid;
                    padding   : 0 5px;
                    margin-top: 24px;

                    &:hover {
                        background-color: red;
                        color           : white;
                        cursor          : pointer;
                    }
                }
            }
        }

        .product__name {
            display    : block;
            padding-top: 20px;
        }

        .product__price {
            font-family: @font-bold;
            font-weight: bold;
        }

        .product__name,
        .product__price {
            padding-left: 30px;
        }
    }
}

.feedback {
    margin-top: 60px;
    text-align: center;

    .feedback__title {
        text-transform: capitalize;
        font-size     : 36px;
        color         : black;
        font-family   : @font-bold;
    }

    .feedback__body {

        .feedback__image {
            width          : 80px;
            height         : 80px;
            border-radius  : 50%;
            object-fit     : cover;
            object-position: 40%;
            margin         : 50px auto 0;
        }

        .feedback__content {
            line-height: 30px;
            margin-top : 25px;
            font-size  : 18px;
        }

        .customer__name {
            .text--bold();
            font-family: @font-bold;
            margin-top : 30px;
        }

        .customer__type {
            margin-bottom: 40px;
        }
    }
}

.brand {
    margin-top: 115px;
}

footer {
    background-color: #222222;
    height          : 100%;
    margin-top      : 40px;

    .about__logo {
        padding: 100px 0 30px;
    }

    .about__icon {

        i {
            margin      : 0 18px 60px;
            font-size   : 18px;
            padding-top : 45px;
            padding-left: 6px;
        }
    }

    .info {
        border-top: 1px solid #444444;

        .info__title {
            text-transform: uppercase;
            font-size     : 18px;
            font-family   : @font-bold;
        }

        .info__content {
            font-family: @font-regular;

            span {
                display    : block;
                padding-top: 18px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .copyright {
        background-color: black;
        height          : 50px;
        margin-top      : 45px;
        .grid--center();
    }
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #dd2f31 !important;
}