@import "font.css";
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.text-bold {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
body {
  line-height: 24px;
  font-size: 14px;
  font-family: poppins-regular;
}
header {
  height: 950px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  z-index: 2;
}
header nav .nav-content {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 270px 630px 270px;
  grid-template-rows: 100px;
  align-items: center;
  font-size: 16px;
}
header nav .nav-content ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}
header nav .nav-content ul a {
  color: white;
  text-decoration: none;
}
header nav .nav-content .nav-icon {
  display: block;
  color: white;
  text-align: end;
}
header nav .nav-content .nav-icon .fa-search {
  padding-right: 25px;
}
header nav .nav-content .nav-icon .fa-shopping-cart {
  border-left: #777777 2px solid;
  border-right: #777777 2px solid;
  padding: 0 25px;
}
header nav .nav-content .nav-icon .fa-user {
  padding-left: 25px;
}
header .promotion {
  width: 1170px;
  margin: 0 auto;
  color: white;
  padding-top: 325px;
}
header .promotion .promotion-text {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
header .promotion .promotion-text .text-large {
  text-transform: capitalize;
  font-family: poppins-bold;
  font-size: 60px;
}
header .promotion .promotion-text .text-medium {
  font-family: poppins-bold;
  font-size: 40px;
}
header .promotion .promotion-text .text-small {
  width: 550px;
  margin-top: -5px;
}
header .promotion .promotion-btn {
  background-color: transparent;
  color: white;
  border: white 1px solid;
  width: 170px;
  height: 48px;
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  margin-top: 57px;
}
.gallery {
  width: 1170px;
  margin: 0 auto;
  margin-top: -80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 255px);
}
.gallery div:nth-child(odd) img {
  width: 100%;
  height: 100%;
}
.gallery div:nth-child(even) {
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 100px 1fr 80px;
}
.gallery div:nth-child(even) img {
  align-self: end;
}
.gallery div:nth-child(even) .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: poppins-bold;
}
.gallery div:nth-child(even) .content {
  color: #777777;
  text-align: center;
  padding: 0 50px;
  align-self: start;
}
.product {
  width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
}
.product .product-tab {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  text-align: center;
}
.product .product-tab .tab-title {
  font-family: poppins-bold;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.product .product-tab #top-sellers {
  width: 100%;
  color: red;
  border-bottom: red 2px solid;
}
.product .product-list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product .product-list .item {
  /* margin-left  : 30px; */
  margin-bottom: 70px;
}
.product .product-list .item img {
  width: 270px;
}
.product .product-list .product-price {
  font-family: poppins-bold;
  font-weight: bold;
}
.feedback {
  width: 1170px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-row-gap: 35px;
}
.feedback .feedback-title {
  text-transform: capitalize;
  font-size: 36px;
  color: black;
  font-family: poppins-bold;
}
.feedback .feedback-body {
  display: grid;
  justify-items: center;
  width: 770px;
}
.feedback .feedback-body .feedback-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: none;
  object-position: 47% 24%;
}
.feedback .feedback-body .feedback-content {
  color: #777777;
  line-height: 30px;
  margin-top: 30px;
  font-size: 18px;
}
.feedback .feedback-body .customer-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: poppins-bold;
}
.feedback .feedback-body .customer-type {
  color: #777777;
  margin-bottom: 40px;
}
.brand {
  width: 1170px;
  margin: 0 auto;
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}
footer {
  background-color: #222222;
  height: 720px;
  margin-top: 40px;
}
footer .about {
  width: 770px;
  margin: auto;
  text-align: center;
}
footer .about .about-logo {
  padding: 100px 0 30px;
}
footer .about .about-text {
  color: #777777;
}
footer .about .about-icon {
  color: #777777;
}
footer .about .about-icon i {
  margin: 0 18px 60px;
  font-size: 18px;
  padding-top: 45px;
  padding-left: 6px;
}
footer .info {
  width: 1170px;
  margin: 0 auto;
  border-top: 1px solid #444444;
  display: grid;
  grid-template-columns: repeat(3, 300px) 270px;
  padding-top: 73px;
}
footer .info .info-title {
  text-transform: uppercase;
  font-size: 18px;
  font-family: poppins-bold;
  color: white;
}
footer .info .info-content {
  font-family: poppins-regular;
  color: #777777;
}
footer .info .info-content span {
  display: block;
  padding-top: 18px;
}
footer .info .info-content span i {
  margin-right: 10px;
}
footer .copyright {
  background-color: black;
  height: 50px;
  margin-top: 50px;
  color: #777777;
  display: grid;
  justify-items: center;
  align-items: center;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0!important;
}
