@import "font.css";
.text-bold {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}
@media (min-width: 576px) {
  .container {
    max-width: 594px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 774px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1014px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1194px;
  }
}
body {
  line-height: 24px;
  font-size: 14px;
  font-family: poppins-regular;
}
header {
  height: 950px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  font-size: 16px;
}
header nav ul {
  list-style: none;
  margin-bottom: 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav .nav-icon {
  color: white;
  text-align: end;
  /* .fa-search {
        padding-right: 25px;
      } */
  /* .fa-user {
        padding-left: 25px;
      } */
}
header nav .nav-icon .fa-shopping-cart {
  border-left: #777777 2px solid;
  border-right: #777777 2px solid;
  /* padding     : 0 25px; */
}
.promotion {
  color: white;
  padding-top: 330px;
}
.promotion .text-large {
  text-transform: capitalize;
  font-family: poppins-bold;
  font-size: 60px;
}
.promotion .text-medium {
  font-family: poppins-bold;
  font-size: 40px;
}
.promotion .text-small {
  width: 550px;
}
.promotion .promotion-btn {
  background-color: transparent;
  color: white;
  border: white 1px solid;
  text-transform: uppercase;
  cursor: pointer;
}
.gallery {
  margin-top: -80px;
}
.gallery div:nth-child(odd) img {
  width: 100%;
  height: 100%;
}
.gallery div:nth-child(even) {
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 250px;
}
.gallery div:nth-child(even) img {
  align-self: end;
}
.gallery div:nth-child(even) .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: poppins-bold;
}
.gallery div:nth-child(even) .content {
  color: #777777;
  text-align: center;
  padding: 0 50px;
  align-self: start;
}
.product {
  margin-top: 90px;
}
.product .product-tab {
  text-align: center;
}
.product .product-tab .tab-title {
  font-family: poppins-bold;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.product .product-tab #top-sellers {
  color: red;
  border-bottom: red 2px solid;
}
.product .product-list {
  margin-top: 43px;
}
.product .product-list .item {
  padding-bottom: 70px;
  position: relative;
}
.product .product-list .item:hover ul.product-icon {
  display: block;
}
.product .product-list .item img {
  width: 100%;
}
.product .product-list .item ul.product-icon {
  list-style: none;
  color: #777777;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: none;
}
.product .product-list .item ul.product-icon li {
  border: 1px #dddddd solid;
  padding: 0 5px;
  margin: 23px;
}
.product .product-list .item ul.product-icon li:hover {
  background-color: red;
  color: white;
}
.product .product-list .product-name {
  display: block;
  padding-top: 20px;
}
.product .product-list .product-price {
  font-family: poppins-bold;
  font-weight: bold;
}
.product .product-list .product-name,
.product .product-list .product-price {
  padding-left: 30px;
}
.feedback {
  margin-top: 52px;
  text-align: center;
}
.feedback .feedback-title {
  text-transform: capitalize;
  font-size: 36px;
  color: black;
  font-family: poppins-bold;
}
.feedback .feedback-body .feedback-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 40%;
  margin: auto;
}
.feedback .feedback-body .feedback-content {
  color: #777777;
  line-height: 30px;
  margin-top: 30px;
  font-size: 18px;
}
.feedback .feedback-body .customer-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: poppins-bold;
  display: block;
}
.feedback .feedback-body .customer-type {
  color: #777777;
  margin-bottom: 40px;
}
.brand {
  margin-top: 130px;
}
footer {
  background-color: #222222;
  height: 100%;
  margin-top: 40px;
}
footer .about-logo {
  padding: 100px 0 30px;
}
footer .about-text {
  color: #777777;
}
footer .about-icon {
  color: #777777;
}
footer .about-icon i {
  margin: 0 18px 60px;
  font-size: 18px;
  padding-top: 45px;
  padding-left: 6px;
}
footer .info {
  /* .wrapper(); */
  border-top: 1px solid #444444;
}
footer .info .info-title {
  text-transform: uppercase;
  font-size: 18px;
  font-family: poppins-bold;
  color: white;
}
footer .info .info-content {
  font-family: poppins-regular;
  color: #777777;
}
footer .info .info-content span {
  display: block;
  padding-top: 18px;
}
footer .info .info-content span i {
  margin-right: 10px;
}
footer .copyright {
  background-color: black;
  height: 50px;
  margin-top: 45px;
  color: #777777;
  display: grid;
  justify-items: center;
  align-items: center;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0 !important;
}
