@size: {
    sm: 575.98px;
    md: 767.98px;
    lg: 991.98px;
    xl: 1199.98px;
}

@box-shadow : rgba(0, 0, 0, .2);

@media (min-width: @size[sm]) {
    .text-lg {
        font-size: 60px;
    }

    .text-md {
        font-size: 40px;
    }
}

@media (min-width: @size[md]) {
    .gallery__item:not(:nth-child(3n)) {
        padding-right: 0;
    }

    .gallery__item:not(:nth-child(3n+1)) {
        padding-left: 0;
    }

    .product__icon {
        display: none;
    }
}

@media (min-width: @size[lg]) {
    header {
        background-position: center;
        height             : 950px;
    }

    #nav__btn {
        display: none;
    }

    .product__icon {
        li {
            margin-top: 24px;
        }
    }

    .promotion {
        padding-top: 327px;
    }

    .gallery__content {
        padding: 18px 30px;
    }
}

@media (min-width: @size[xl]) {
    .container-xl {
        max-width: 1194px;
        padding  : 0 10px;
    }

    .row>* {
        padding: 0 15px;
    }

    .nav__link {
        padding: 0;

        .col {
            margin-right: 15px;
        }

        li:not(:last-child) {
            margin-right: 48px;
        }
    }

    .nav__icon {
        padding-left: 130px;
    }

    .product__item {
        &:hover {
            img {
                -webkit-box-shadow: 0 4px 8px 0 @box-shadow, 0 6px 20px 0 @box-shadow;
                box-shadow        : 0 4px 8px 0 @box-shadow, 0 6px 20px 0 @box-shadow;
            }
        }
    }

    .text-sm {
        width: 45%;
    }

    .gallery__item:nth-child(odd) {
        img {
            height: 250px;
        }
    }

    .gallery__box {
        height: 250px;
    }
}

@media (max-width: @size[sm]) {
    .text-lg {
        font-size: 2rem;
    }

    .text-md {
        font-size: 1.4rem;
    }

    .feedback__title {
        font-size: 1.4rem;
    }

    .product__tab {
        ul {
            display: block;
        }
    }

    .gallery__item:nth-child(odd) {
        img {
            height: 250px;
        }
    }
}

@media (max-width: @size[md]) {
    .gallery__item {
        margin-bottom: 12px;
    }

    .gallery__item:nth-child(odd) {
        img {
            height: 250px;
        }
    }

    .gallery__box {
        height: 250px;
    }

    .product__icon {
        display: block;
    }

}

@media (max-width: @size[lg]) {
    header {
        height: 650px;
    }

    .promotion {
        padding-top: 150px;
    }

    .nav__link,
    .nav__icon {
        display: none;
    }

    .product__icon {
        li {
            margin-top: 10px;
        }
    }

    .gallery__content {
        padding: 18px 25px;
    }
}

@media (max-width: @size[xl]) {
    .nav__link {
        .col {
            margin-right: 15px;
        }

        li:not(:last-child) {
            margin-right: 21px;
        }
    }

    .nav__icon {
        padding-left: 80px;
    }
}

@media (min-width: @size[md]) and (max-width: @size[xl]) {
    header {
        background-position: 65%;
    }

    .gallery__item:nth-child(odd) {
        img {
            height: 257px;
        }
    }

    .gallery__box {
        height: 257px;
    }

    .text-sm {
        width: 50%;
    }
}

@media (min-width: @size[lg]) and (max-width: @size[xl]) {
    .text-lg {
        font-size: 60px;
    }
}