@import "./_font.css";
@import "./_responsive.css";

@font-regular : poppins-regular;
@font-bold    : poppins-bold;
@bg-nav       : rgba(0, 0, 0, .6);
@gray         : #777777;
@bg-owl-dot   : #dd2f31;
@bg-footer    : #222222;
@border-icon  : #dddddd;
@footer-border: #444444;
@box-shadow   : rgba(0, 0, 0, .2);

.text-bold() {
    font-size     : 18px;
    font-weight   : bold;
    text-transform: uppercase;
}

body {
    font-family: @font-regular;
    font-size  : 14px;
    line-height: 24px;
}

header {
    background-image : url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size  : cover;

    nav {
        -ms-flex-align   : center;
        -webkit-box-align: center;
        align-items      : center;
        background-color : @bg-nav;
        display          : -ms-grid;
        display          : grid;
        font-size        : 16px;
        height           : 100px;
        position         : fixed;
        width            : 100%;
        z-index          : 3;

        .nav__content {
            -ms-flex-align   : center;
            -webkit-box-align: center;
            align-items      : center;
            display          : -ms-flexbox;
            display          : -webkit-box;
            display          : flex;
        }

        .nav__link {
            padding-left: 70px;

            ul {
                padding-left: 19px;
                padding-top : 5px;

                li {
                    display: inline-block;
                }
            }
        }

        .nav__icon {
            text-align: right;

            li {
                display: inline-block;

                a {
                    color: white;

                    &:hover {
                        color: red;
                    }
                }
            }

            .fa-search {
                padding-right: 23px;
            }

            .fa-shopping-cart {
                border-left : @gray 2px solid;
                border-right: @gray 2px solid;
                padding     : 0 26px;
            }

            .fa-user {
                padding-left: 19px;
            }
        }

        .navbar {
            -ms-flex-direction: row-reverse;
            flex-direction    : row-reverse;
        }

        #nav__btn {
            background-color: transparent;
        }

        .nav__btn-content {
            background-color: @bg-nav;

            li {
                margin-bottom: 10px;
            }
        }

        .navbar-toggler {
            padding: 0;

            &:focus {
                -webkit-box-shadow: none;
                box-shadow        : none;
            }
        }

        .fa-bars {
            color: white;
        }

        ul {
            list-style   : none;
            margin-bottom: 0;

            li {

                a {
                    color          : white;
                    text-decoration: none;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}

.promotion {
    & {
        color: white;
    }

    .text-lg {
        display       : block;
        font-family   : @font-bold;
        text-transform: capitalize;
    }

    .text-md {
        display    : block;
        font-family: @font-bold;
        margin-top : 43px;
    }

    .text-sm {
        display   : block;
        margin-top: 37px;
    }

    .promotion__btn {
        -o-transition     : all .3s;
        -webkit-transition: all .3s;
        background-color  : transparent;
        border            : white 1px solid;
        color             : white;
        display           : block;
        letter-spacing    : -1px;
        margin-top        : 53px;
        padding           : 13px 46.5px;
        text-transform    : uppercase;
        transition        : all .3s;

        &:hover {
            -ms-transform    : scale(1.1);
            -webkit-transform: scale(1.1);
            transform        : scale(1.1);
        }
    }
}

.gallery {
    margin-top: -77px;
}

.gallery__item:nth-child(odd) {
    img {
        -o-object-fit: cover;
        object-fit   : cover;
        width        : 100%;
    }
}

.gallery__item:nth-child(even) {
    background-clip : content-box;
    background-color: white;
    display         : block;
    text-align      : center;
}

.gallery__box {
    -webkit-box-shadow: 0 4px 8px 0 @box-shadow, 0 6px 20px 0 @box-shadow;
    box-shadow        : 0 4px 8px 0 @box-shadow, 0 6px 20px 0 @box-shadow;
}

.strength,
.power {
    img {
        padding-top: 30px;
    }
}

.dumbbells {
    img {
        padding-top: 47px;
    }
}

.gallery__title {
    .text-bold();
    display    : block;
    font-family: @font-bold;
    padding-top: 25px;
}

.gallery__content {
    color  : @gray;
    display: block;
}

.gallery__item:nth-child(6) {
    img {
        -ms-flex-item-align: center;
        -ms-grid-row-align : center;
        align-self         : center;
    }

    .gallery__title {
        -ms-flex-item-align: start;
        -ms-grid-row-align : start;
        align-self         : start;
    }
}

.product {
    margin-top: 87px;
}

.product__tab {

    .tab__title {
        .text-bold();
        color      : black;
        font-family: @font-bold;
        text-align : center;
    }

    .nav-link {
        border : none;
        padding: 12px 17px;
    }

    .nav-link.active {
        border-bottom: red 2px solid;
        color        : red;
    }
}

.product__list {
    margin-top: 40px;
}

.product__item {
    margin-bottom : 55px;
    padding-bottom: 20px;
    position      : relative;

    &:hover {
        .product__icon {
            display: block;
        }
    }

    img {
        -o-transition     : all .5s;
        -webkit-transition: all .5s;
        transition        : all .5s;
        width             : 100%;
    }
}

.product__name {
    display    : block;
    font-weight: bold;
    padding-top: 25px;
}

.product__price {
    font-family: @font-bold;
    font-weight: bold;
}

.product__icon {
    font-size : 12px;
    list-style: none;
    padding   : 0;
    position  : absolute;
    right     : 20px;
    top       : -5px;
    z-index   : 2;

    li {
        border       : 1px @border-icon solid;
        border-radius: 5px 0 5px 0;
        padding      : 5px 10px;

        &:hover {
            background-color: red;
            color           : white;
            cursor          : pointer;
        }
    }
}

.product__name,
.product__price {
    padding-left: 30px;
}

.feedback {
    margin-top: 58px;
    text-align: center;
}

.feedback__title {
    color         : black;
    font-family   : @font-bold;
    font-size     : 36px;
    text-transform: capitalize;
}

.feedback__body {
    .feedback__image {
        -o-object-fit     : cover;
        -o-object-position: 40%;
        border-radius     : 50%;
        height            : 80px;
        margin            : 50px auto 0;
        object-fit        : cover;
        object-position   : 40%;
    }

    .feedback__content {
        font-size  : 18px;
        line-height: 30px;
        margin-top : 25px;
    }

    .customer__name {
        .text-bold();
        display    : block;
        font-family: @font-bold;
        margin-top : 27px;
    }

    .customer__type {
        color     : @gray;
        display   : block;
        margin-top: 7px;
    }
}

.brand {
    margin-top: 115px;
    text-align: center;
}

.brand__item {
    -ms-flex-align   : center;
    -webkit-box-align: center;
    align-items      : center;
    display          : -ms-grid;
    display          : grid;
    justify-items    : center;
    margin-top       : 15px;
}

footer {
    background-color: @bg-footer;
    height          : 100%;
    margin-top      : 40px;

    .about__logo {
        padding: 100px 0 32px;
    }

    .about__icon {
        margin-bottom: 53px;

        i {
            font-size: 18px;
            margin   : 42px 12px 0 30px;
            color    : @gray;

            &:hover {
                color: orange;
            }
        }
    }

    .border-footer {
        border-top: 1px solid @footer-border;
    }

    .info {
        margin-top: 74px;
    }

    .info__title {
        color         : white;
        display       : block;
        font-family   : @font-bold;
        font-size     : 18px;
        margin-bottom : 27px;
        text-transform: uppercase;
    }

    .info__content {
        a {
            color          : @gray;
            display        : block;
            margin-bottom  : 16px;
            text-decoration: none;

            &:hover {
                color: orange;
            }

            i {
                margin-right: 10px;
            }

            .fa-map-marker-alt {
                margin-right: 16px;
            }
        }
    }

    .copyright {
        -ms-flex-align   : center;
        -webkit-box-align: center;
        align-items      : center;
        background-color : black;
        color            : @gray;
        display          : -ms-grid;
        display          : grid;
        height           : 50px;
        justify-items    : center;
        margin-top       : 30px;
    }
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-left: 10px;
    margin-top : 32px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: @bg-owl-dot;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-carousel .owl-item img {
    width: 80px;
}